<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
<!--  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %X{methodName} %-5level %logger{108} - %msg%n</pattern>-->
<!--    </encoder>-->
<!--  </appender>-->

<!--  <root level="DEBUG">-->
<!--    <appender-ref ref="STDOUT"/>-->
<!--  </root>-->

  <appender name="MASTERLOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/home/afibarra/Projects/logs/mdc/application.log</file>
    <append>true</append>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>/home/afibarra/Projects/logs/mdc/application.log_%i.%d{dd-MMM-yyyy}</fileNamePattern>
      <maxFileSize>250MB</maxFileSize>
    </rollingPolicy>
    <encoder>
      <pattern>
        %d{yyyy-MM-dd HH:mm:ss} [%thread] %X{messageid} %-5level %logger{108} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="MASTERLOGFILE"/>
  </root>

  <logger name="me.afibarra" level="DEBUG" additivity="false">
    <appender-ref ref="MASTERLOGFILE"/>
  </logger>

  <logger name="org.springframework.web.servlet.mvc.method.annotation" level="DEBUG" additivity="false">
    <appender-ref ref="MASTERLOGFILE"/>
  </logger>
</configuration>
